# Configurações de Deploy para o DINF 
# Colocar como chave secreta no repositório GitHub 
DINF_HOST=ssh.inf.ufpr.br
DINF_USERNAME=seu_usuario
DINF_PASSWORD=sua_senha
DINF_PORT=22
DINF_TARGET_DIR=public_html/
GEMINI_API_KEY="API_KEY"